<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit manufacture</title>
</head>
<body>
<div align="center">
    <h1>Edit manufacture</h1>
    <br />
    <form action="#" th:action="@{/manufacture/save}" th:object="${manufacture}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>worker:</td>
                <td>
                    <input type="text" th:field="*{worker}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Product:</td>
                <td>
                    <input type="text" th:field="*{product}" />
                </td>
            </tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>